:root {
  --navbar-height: 70px;
  --navbar-color: transparent;
  --navbar-color-scrolled: #fff;

  --background-color: #F6F6F6;

  --color-accent: #FF0000;
  --color-default-dark: #000;
  --color-default-dark-tranparent: rgba(0,0,0,0.2);
  --color-default-light: #fff;
  --color-text: #444;

  --footer-bg-color: #333;
  --footer-color: #eee;

  --form-border-color: #eee;
}