html {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

body {
  color: var(--color-text);
  letter-spacing: 1.1px;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
}

a, button {
  outline: none;
  color: inherit;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}

.content {
  @media only screen and (max-width: 768px) {
    padding-top: var(--navbar-height);
  }
}

.section-background {
  background-color: var(--background-color);
}

.welcome-title {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20vw;
  margin: auto;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-default-light);
  text-shadow: 1px 1px 5px black;
  font-size: 1.3em;
  @media only screen and (max-width: 768px) {
    font-size: 0.5em;
    left: 0;
    right: 0;
  }

  .title {
    margin-bottom: 0;
  }
}

.section-title {
  font-size: 2.2em;
  font-weight: 400;
}

.section-subtitle {
  font-size: 1.1em;
  margin-bottom: 30px;
}

.col-2 {
  display: flex;
  justify-content: space-between;
  & > * {
    flex: 0 1 49%;
    max-width: 49%;
    @media only screen and (max-width: 768px) {
      flex-basis: 100%;
      max-width: 100%;
    }
  }
}

.about-us {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
}

.features {
  padding: 30px 0;

  &-wrapper {
    max-width: 900px;
    margin: 90px auto 0;
    @media only screen and (max-width: 768px) {
      flex-wrap: wrap;
    }
  }

  &__element {
    display: flex;
    flex-direction: column;
    @media only screen and (max-width: 768px) {
      flex-basis: 50%;
      margin-bottom: 30px;
    }
    @media only screen and (max-width: 375px) {
      flex-basis: 100%;
    }

    &__icon {
      background-color: var(--color-accent);
      color: var(--color-default-light);
      font-size: 30px;
      padding: 10px 0;
      margin-bottom: 30px;
      width: 80px;
      position: relative;

      &:before, &:after {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        content: '';
        width: 0;
        height: 0;
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
      }

      &:before {
        border-bottom: 20px solid var(--color-accent);
        top: -20px;
      }

      &:after {
        border-top: 20px solid var(--color-accent);
        bottom: -20px;
      }
    }

    &__title {
      font-weight: 400;
      font-size: 1.3em;
    }
  }
}

.attributes.container {
  margin: 50px auto;
  padding: 0;
}

.attributes {
  display: flex;
  flex-wrap: wrap;

  &__element {
    width: 50%;
    height: 286px;
    background-color: transparent;
    color: var(--color-default-dark);
    transition: background-color 0.3s ease, color 0.3s ease;
    @media only screen and (max-width: 768px) {
      min-width: 100%;
      flex-wrap: wrap;
    }

    &:hover {
      background-color: var(--color-accent);
      color: var(--color-default-light);
    }

    @for $i from 1 through 4 {
      &__image.image#{$i} {
        margin: 0;
        flex: 0 1 50%;
        max-width: 50%;
        opacity: 0;
        @media only screen and (max-width: 600px) {
          display: none;
        }
      }

      .webp &__image.image#{$i} {
        background: url('../images/eko-zdjęcie#{$i}.webp') center center/cover no-repeat;
      }

      .no-webp &__image.image#{$i} {
        background: url('../images/eko-zdjęcie#{$i}.png') center center/cover no-repeat;
      }
    }

    &__text {
      align-self: center;
      padding: 0 15px;
      box-sizing: border-box;
      flex: 0 1 50%;
      max-width: 50%;
      @media only screen and (max-width: 600px) {
        flex: 0 1 100%;
        max-width: 100%;
        text-align: center;
      }
    }
  }
}

.service {
  background-color: var(--background-color);
  justify-content: baseline;
  @media only screen and (max-width: 768px) {
    flex-wrap: wrap;
  }

  &__image {
    margin: 0;
    opacity: 0;
  }

  .webp &__image {
    background: url('../images/eko-serwis.webp') center center/cover no-repeat;
  }

  .no-webp &__image {
    background: url('../images/eko-serwis.jpg') center center/cover no-repeat;
  }

  &__container {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    max-width: 600px;
    @media only screen and (max-width: 768px) {
      margin: auto;
    }
  }

  &__element {
    display: flex;
    margin-bottom: 6px;

    &__icon {
      padding: 0 15px;
      margin: auto;
      font-size: 2em;
      color: var(--color-accent);
    }

    &__text {

      .title {
        margin-bottom: 0;
        font-weight: 400;
        font-size: 1.25em;
      }
      .text {
        margin-top: 0.5em;
      }
    }
  }
}

.toilets {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__element {
    padding: 0 50px 30px;

    &__image {
      opacity: 0;
    }

    &__title {
      font-weight: 400;
      font-size: 1.3em;
    }
  }
}


@import "grid";
@import "navbar";
@import "slider";
@import "percentage-bar";


