:root {
  --navbar-height: 70px;
  --navbar-color: transparent;
  --navbar-color-scrolled: #fff;

  --background-color: #F6F6F6;

  --color-default-light: #fff;
  --color-default-dark: #000;
  --color-accent: #FF0000;
  --color-text: #444;
}